tbody {
    display: block;
    height: 150px;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em)
}

table {
    width: 100%;
}

body {
    background-color: #cccccc;
}


ul {
    height: 250px;
    width: auto;
    overflow: scroll;
}

